<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body style="background-color: #202020">
<div class="container">
    <form class="form-horizontal" role="form" method="post" action="/registration">
        <div class="form-group">
            <label class="control-label col-sm-2" for="userName">User Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" name="userName" value="">
            </div>

            <label class="control-label col-sm-2" for="userEmail">email:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userEmail" name="email" value="">
            </div>
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" value="">
            </div>
        </div>

        <th:if test="${not empty error}">
            <div class="alert alert-danger">Error: <span th:text="${error}"></span></div>

        </th:if>
        <th:if test="${not empty success}">
            <div class="alert alert-success">Success: <span th:text="${success}"></span></div>
        </th:if>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary">Register</button>
            </div>

        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/home" class="btn btn-info">Back to Login</a>
        </div>
    </form>
</div>

</body>
</html>